*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
body{
    display: grid;
    background: black;
    color: white;

}
h3{
    font-family: poppins light;
}
h4{
    font-family: poppins thin;
}
.header{
    display: grid;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.808)),url(https://assets.nflxext.com/ffe/siteui/vlv3/bff5732c-7d13-45d1-9fab-476db25a1827/46bc87cd-4c4c-4485-8b93-d5f21c581d56/IN-en-20230710-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-size: cover;
    background-position:center;
    padding:30px 8% ;
    position: relative;
}
nav{
    
    display:flex;
    justify-content: space-between;
}
.logo{
    mix-blend-mode: lighten;
    width: 180px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;

}
nav button{
    font-size: 15px;
    border: 0;
    outline: 0;
    background: transparent;
    color: rgb(255, 255, 255);
    margin: 10px;
    cursor: pointer;
    
}
select{
    font-size: 19px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    height: 30px;
}
.signin:hover{
    background-color: rgba(255, 0, 0, 0.637);
}
.signin{
    transition: 0.5s;
    width:70px;
    height: 30px;
    border-radius: 7px;
    background-color: #e50914;
}
.intro{
    font-size: 23px;
    
    place-items:center ;
    text-align: center;
}
.intro input{
    width: 400px;
    height: 50px;
    background-color: #11101094;
    outline: 0;
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
    color: white;
    border: 0.1px solid white;
    outline: 0;
    border-radius: 7px;
}
.intro button{
    width: 200px;
    height: 50px;
    background-color: #e50914;
    transition: 0.5s;
    font-size: 20px;
    color: aliceblue;
    border-radius: 7px;
    border: 0;;
    font-family: poppins medium;
}
.intro button:hover{
    background-color: rgba(255, 0, 0, 0.637);
}
